<h1><%= @product.name %> Reviews</h1>

<% if current_user %>
 <%= form_for :review, url: product_reviews_path(@product) do |f| %>
   <h2>New Review</h2>
    <%= f.hidden_field :user_id, value: current_user.id%>

   <%= f.label :description %><br>
   <%= f.text_field :description %><br>

   <%= f.label :rating %><br>
   <%= f.text_field :rating %><br>

   <%= f.submit("Create New Review") %><br>
  <% end %>
<% end %>


<ul>
  <% @reviews.each do |review| %>
    <li><%= review.description %> Rating: <%= review.rating %></li>
  <% end %>
</ul>